#theloai{
    display: flex;
}
#deta{
    width: 63%;
    margin: auto;

}
#containerDetailvi{
    display: flex;
    width: 100%;
}
#watchmost{
    margin-left: 3%;
    width: 40%;
}
#watchmost video{
    width: 220px;
    height: 180px
}

.videomost{
    display: flex;
}
#videodetail video{
    width: 700px;
    height: 400px
}
#videodetail p{
    margin-top: -10px

}
#videoMain{
    width: 60%;
    height: auto;
    /* margin-left: 18.5%; */
}
#videonew p{
 margin-top: -10px
         }
 .contentmostvideo {
    margin-top: 10px;
     width:auto;
 }
 .contentmostvideo #theloai p{
     margin-top: -10px;
 }

textarea{
    width: 400px;
    height: 60px;
}
#deta{
    margin-top: 20px;
}
